@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.menu {
    visibility: visible;
	}

	.menu-2 {
		/* position: static; */
		visibility: visible;
		background-color: #002733;
	}
}