#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
form label {
  display: flex;
  flex-direction: column;
}
.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  padding-right: 15px;
  margin-bottom: 10px;
  width: 200px;
}

img {
  width: 200px;
}