body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 300px; */
  /* min-height: 100vh; */
}

#root {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: rgb(31, 29, 29);
  padding: 40px 100px;
}

header a {
  text-decoration: none;
  color: white;
}

header h1 {
  width: 100%;
  margin: 0 0;
}

main {
  padding: 32px 100px;
  margin: 50pxpx auto 0;
  height: fit-content;
}

/* form {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} */

a {
  text-decoration: none;
  color: black;
}

.note-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 285px;
  border: 1px solid black;
  padding: 10px;
  /* margin-bottom: 10px;
  margin-right: 20px; */
  margin: 10px;
  overflow: hidden;
  /* resize: both; */
  cursor: move;
  border-radius: 0 15px;
}

.note-item__content {
  height: 70%;
  text-align: justify;
  overflow: hidden;
}

.note-item__button-container {
  display: flex;
  justify-content: space-between;
}

.note-item__button {
  background-color: transparent;
  border: none;
  font-size: x-large;
}

.note-item__button:hover {
  cursor: pointer;
}

.button-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 40px;
}

.button-fixed:hover {
  cursor: pointer;
}

.draft-editor__title {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.draft-editor__title input {
  height: 20px;
}

.draft-editor__body { 
  border: 1px solid black; 
  padding: 2px; 
  min-height: 400px;
}

.detail-page__title {
  font-size: 35px;
}

.detail-page__body {
  text-align: justify;
}